*.docx
*.xml
*.txt
*.info
*.mdb
*.stamp
*.asset
*.metadata
*.bin
*.backup
Loo Whiz 2017/Temp/UnityLockfile
# Unity3D generated meta files
*.pidb.meta
Loo Whiz 2017/Loo Whiz 2017/Temp/UnityLockfile
Loo Whiz 2017/Library/metadata/
Loo Whiz 2017/Temp/

*.meta
